@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col pt-1 ">
            <a asp-page="./Index">Voltar</a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col ">
            <img style="height: 440px;"  src="~/images/404.jpg" />
        </div>
    </div>
</div>





