@page
@model Client.Web.Areas.Clientes.Pages.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Pages/Shared/_LayoutCliente.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Dados do Cliente</h4>
    <hr />
    <div class="container p-4 border">
        <input type="hidden" form="form" asp-for="Cliente.Id" value="@Model.Cliente.Id" name="Cliente.Id" class="form-control" />
        <div class="row">
            <div class="col-md-6">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Cliente.RazaoSocial" class="control-label"></label>
                    <input asp-for="Cliente.RazaoSocial" class="form-control" disabled/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cliente.NomeFantasia" class="control-label"></label>
                    <input asp-for="Cliente.NomeFantasia" class="form-control" disabled />
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cliente.TipoPessoa" class="control-label"></label>
                    <select asp-for="Cliente.TipoPessoa" asp-items="Model.TipoPessoas" class="form-control" disabled></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cliente.Documento" class="control-label"></label>
                    <input asp-for="Cliente.Documento" class="form-control" disabled />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cliente.Endereco" class="control-label"></label>
                    <input asp-for="Cliente.Endereco" class="form-control" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cliente.Complemento" class="control-label"></label>
                    <input asp-for="Cliente.Complemento" class="form-control" disabled />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cliente.Bairro" class="control-label"></label>
                    <input asp-for="Cliente.Bairro" class="form-control" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cliente.Cidade" class="control-label"></label>
                    <input asp-for="Cliente.Cidade" class="form-control" disabled />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cliente.Cep" class="control-label"></label>
                    <input asp-for="Cliente.Cep" class="form-control" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cliente.Uf" class="control-label"></label>
                    <input asp-for="Cliente.Uf" class="form-control" disabled />
                </div>
            </div>
        </div>

    </div>
</div>
<h4 class="py-3">Telefones</h4>
<hr />
<div class="container p-4 border">
    <div class="row">
        <div id="contatos">
            @Html.Partial("_TelefonePartial", Model.Cliente)
        </div>
    </div>
</div>

<div class="vh-10 py-5">
    <a asp-page="./Edit" asp-route-id="@Model.Cliente.Id">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
