<div class="modal fade" id="confirmaExcluir" tabindex="-1" aria-labelledby="confirmaExcluirLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmaExcluirLabel">Atenção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir este registro ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnNao" class="btn btn-danger" data-bs-dismiss="modal">Não</button>
                <button type="button" id="btnSim" class="btn btn-primary">Sim</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="idClienteExcluir" />